
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    margin: 0;
    position: absolute;
    width: 1480px;
    height: 1282px;
    display: flex;
}
/*HEADER*/
.header_container {
    position: absolute;
    width: 1283px;
    height: 189px;
    left: 98px;
    top: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.header_container_logo {
    position: absolute;
    width: 334px;
    height: 79px;
    left: 0;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #4BCAFF;
}
.logo_span {
    color: #000000;
}
.header_container_nav_list {
    display: flex;
    justify-content: center;
    background: #35444F;
    width: 1283px;
    height:72px;
}
.header_nav_item {
    display: flex;
    align-items:center;
    list-style: none;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.header_nav_link {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    padding: 24px 40px 18px;
}
.header_nav_link:hover{
    background: #222F3A;
}
/*MAIN*/
.main_space_aside_and_main_content_and_main_img {
    position: absolute;
    width: 1282px;
    height: 932px;
    top: 252px;
    left: 98px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.aside {
    width: 344px;
    height: 400px;
    border: 1px solid #000000;
    margin-top: 48px;
}
.aside_list {
    list-style: none;
    display: flex;
    flex-direction: column;
}
.aside_item_link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    padding: 26px 26px 26px 44px;
    display: block;
    background: transparent;
    transition: background-color .3s;
}
.aside_item_link:hover {
    background-color: #DBDBDB;
    padding: 26px 26px 26px 72px;
    color: #000;
}
.main_img {
    width: 885px;
    height: 529px;
    margin-top: 48px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
}
.main_content_paragraph1 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-left: 397px;
}
.main_content_paragraph2 {
    height: 109px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #2C2C2C;
    margin-left: 397px;
}
/*FOOTER*/
.footer_container {
    position: absolute;
    width: 1280px;
    height: 69px;
    left: calc(50% - 1280px/2);
    bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
    Display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer_navbar_list {
    list-style: none;
    display: flex;
}
.footer_navbar_item {
    padding: 0 15px;
}
.footer_navbar_item_link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 100%;
    color: #0C1927;
    transition: color 0.3s;
    position: relative;
}
.footer_navbar_item_link:after {
    content: "";
    width: 100%;
    height: 2px;
    display: none;
    background-color: #3181A6;
    position:absolute;
    top: 100%;
    left: 0;
}
.footer_navbar_item_link:hover {
    color: #3181A6;
}
.footer_navbar_item_link:hover:after {
    display: block;
}
.footer_container_signature {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #010101;
}


